@namespace InternshipApp.Portal.Views
@using Wave5.UI.Forms;

<Stack ClassName="formContainer">

    <EditForm EditContext="Context"
              OnValidSubmit="OnFormSubmit">

        <FormFieldsContainer>
            <Stack ClassName="formFieldContainer">
                <FluentTextField @bind-Value=@States.MasterSkillName Readonly>
                    <label>Skill Name</label>
                </FluentTextField>
            </Stack>

            <Stack ClassName="formFieldContainer">
                <label for="typeCombobox">Alternative Skill</label>
                <FluentCombobox Id="typeCombobox"
                    @bind-Value=@States.Name 
                    Options=@States.SkillOptions() />
            </Stack>

            <Stack ClassName="formFieldContainer">
                <label for="typeCombobox">Matching Type</label>
                <FluentCombobox Id="typeCombobox"
                    @bind-Value=@States.MatchingType 
                    Options=@States.TypeOptions() />
            </Stack>
        </FormFieldsContainer>

        <FormButtonsContainer>
            <FluentButton Appearance=@FormStyles.SaveButtonAppearance
                          style=@FormStyles.SaveButtonStyle
                          type="submit"> <label>Save</label> </FluentButton>

            <FluentButton Appearance=@FormStyles.CancelButtonAppearance
                          style=@FormStyles.CancelButtonStyle
                          @onclick="@OnCancel"> <label>Cancel</label> </FluentButton>

        </FormButtonsContainer>
    </EditForm>
</Stack>