@namespace InternshipApp.Portal.Views
@using Wave5.UI.Forms;

<Stack ClassName="formContainer">

    <EditForm EditContext="Context"
              OnValidSubmit="OnFormSubmit">

        <FormFieldsContainer>
            <Stack ClassName="formFieldContainer">
                <Stack ClassName="formFieldContainer">
                    <label for="skillCombobox">Skill Name</label>
                    <FluentCombobox id="skillCombobox" @bind-Value=@States.SelectedSkill Options="@States.SkillOptions()" Autocomplete=ComboboxAutocomplete.List/>
                </Stack>

                <Stack ClassName="formFieldContainer">
                    <label for="levelCombobox">Skill Level</label>
                    <FluentCombobox id ="levelCombobox" @bind-Value=@States.SelectedLevel Options="@States.LevelOptions()" Autocomplete=ComboboxAutocomplete.List/>
                </Stack>

                <Stack ClassName="formFieldContainer">
                    <FluentTextField  @bind-Value="@States.WeightText">
                        <label >Weight</label>
                    </FluentTextField>
                </Stack>

                <Stack ClassName="formFieldContainer">
                    <FluentTextArea @bind-Value=@States.Description>
                        <label>Description</label>
                    </FluentTextArea>
                </Stack>
            </Stack>
        </FormFieldsContainer>

        <FormButtonsContainer>
            <FluentButton Appearance=@FormStyles.SaveButtonAppearance
                        style=@FormStyles.SaveButtonStyle
                          type="submit"> <label>Save</label> </FluentButton>

            <FluentButton Appearance=@FormStyles.CancelButtonAppearance    
                    style=@FormStyles.CancelButtonStyle
                          @onclick="@OnCancel"> <label>Cancel</label> </FluentButton>

        </FormButtonsContainer>
    </EditForm>
</Stack>