@namespace InternshipApp.Portal.Views

@using Wave5.ProjectPortal.Views;
@using Wave5.UI

<Stack>
    <DetailsCardContainer CommandBarContext=@CommandBarContext
                          ContainerContext=@DetailsContainerContext
                          Title="Manage Job">

        @if (States == null)
        {
            <span>No data found.</span>
        }
        else
        {
            <Stack Style="font-family: var(--body-font);"
               Horizontal=@true
               Tokens=@(new StackTokens { Padding="15px 10px" })>
                <Stack Style="width:100%" Horizontal=false>
                        <FormDetailsField Label="Title" Value=@(States.Title) />

                        <FormDetailsField Label="Total Slots" Value=@(States.Slots.ToString()) />
                </Stack>
            </Stack>
        }

    </DetailsCardContainer>
</Stack>