@namespace InternshipApp.Portal.Views
@using Wave5.UI.DataGrids
@using Wave5.UI

<h1>
    Statistics
</h1>

<h3>
    Average Score:
</h3>
<label>
    @AverageScore
</label>

<h3>
    Average Performance:
</h3>
<label>
    @AveragePerformance
</label>
<DetailsListContainer ContainerContext=@ListContainerContext
                      CommandBarContext=@CommandBarContext
                      SearchContext=@SearchContext
                      TItem="EvaluationListRowViewStates"
                      Title="Evaluation Reports">

    <DetailsList DetailsListContext=@ListContext />

</DetailsListContainer>

<ManageEvaluationFormViewPanel FormRequest="EvaluationFormRequest" FormResultCallback="OnFormResultReceived"> 

</ManageEvaluationFormViewPanel>
