@namespace InternshipApp.Portal.Views

@using Wave5.ProjectPortal.Views;
@using Wave5.UI

<Stack>
    <DetailsCardContainer CommandBarContext=@CommandBarContext
                          ContainerContext=@DetailsContainerContext
                          Title="Manage Intern Student">

        @if (States == null)
        {
            <span>No data found.</span>
        }
        else
        {
            <Stack Style="font-family: var(--body-font);"
               Horizontal
               Tokens=@(new StackTokens { Padding="15px 10px" })>
                <Stack Style="width:100%" Horizontal=false>
                    <FormDetailsField Label="Job's Title" Value=@(States.JobName) />
                    <FormDetailsField Label="Student's Fullname" Value=@(States.StudentName) />
                </Stack>
            </Stack>
        }

    </DetailsCardContainer>
</Stack>