@page "/company/{companyId}"

@namespace InternshipApp.Portal.Views

<CompanyInfo CompanyId="@CompanyId">

</CompanyInfo>

<br />
<br />

<h1>
    Discover company's positions
</h1>

<JobListView>

</JobListView>