@namespace InternshipApp.Portal.Views
@using Syncfusion.Blazor.Lists

<SfListView TValue="CompanyListRowViewStates" ID="job-list" DataSource="@States.Items" HeaderTitle="Companies" ShowHeader CssClass="e-list-template">
    <ListViewEvents TValue="CompanyListRowViewStates" Clicked="OnRowClicked"></ListViewEvents>
    <ListViewFieldSettings TValue="CompanyListRowViewStates" Id="Id"></ListViewFieldSettings>
    <ListViewTemplates TValue="CompanyListRowViewStates">
        <Template>
            <Stack Horizontal=false ClassName="list-view-item">
                <h3><b> @((context as CompanyListRowViewStates).Title) </b></h3>
                <lable> @((context as CompanyListRowViewStates).CompanyType) </lable>
                <lable> @((context as CompanyListRowViewStates).Address) </lable>
            </Stack>
        </Template>
    </ListViewTemplates>
</SfListView>

<style>
    .list-view-item{
        padding: 5px
    }

    .e-headertext{
        font-size: 20pt
    }
</style>