@namespace InternshipApp.Portal.Views
@using InternshipApp.Core.Entities;
@using Wave5.UI
@using Wave5.UI.Forms;

<h3> Skills </h3>

<FluentDataGrid TItem="StudentSkillListRowViewStates" id="testGrid"
                GenerateHeader=GenerateHeaderOption.None
                GridTemplateColumns=@("1fr 1fr " + ListContext.Columns.GetGridTemplateColumns()+" 0.5fr")>
    <FluentDataGridRow TItem=StudentSkillListRowViewStates
                        RowType="DataGridRowType.Header">
            
        <Stack>
            <FluentDataGridCell GridColumn=0 CellType="DataGridCellType.ColumnHeader">
                Skill Name
            </FluentDataGridCell>
        </Stack>

        <Stack>
            <FluentDataGridCell GridColumn=1 CellType="DataGridCellType.ColumnHeader">
                Level
            </FluentDataGridCell>
        </Stack>

        @foreach (var column in Columns)
        {
            <Stack>
                <FluentDataGridCell GridColumn=@(Columns.IndexOf(column) + 2) CellType="DataGridCellType.ColumnHeader">
                    @column.Title
                </FluentDataGridCell>
            </Stack>
        }
        
        <Stack ClassName="formFieldContainer" Style="width:60px">
            <FluentDataGridCell GridColumn=@(Columns.Count+2) CellType="DataGridCellType.ColumnHeader"/>
        </Stack>
    </FluentDataGridRow>

    @if (Items.Any())
    {
        @foreach (var item in Items)
        {
            <EditableStudentSkillListRow 
                    FormRequest=@(new FormRequest<FormAction, StudentSkill>(FormAction.Edit, item))
                    AllSkills=@AllSkills
                    UpdateCallback=@OnUpdate
                    DeleteCallback=@OnDelete />
        }
    }
    else
    {
        <Stack HorizontalAlign="Wave5.UI.Alignment.Center" Style="padding: 10px 0px">
            <i> Nothing to display. Please add more skills! </i>
        </Stack>
    }

    <br />

    <FluentButton @onclick=@OnToggleAdd 
                  Appearance=@FormStyles.SaveButtonAppearance
                  style=@FormStyles.SaveButtonStyle
                  Disabled=@IsAddDisable> <label> Add New Skill </label> </FluentButton>

    @{
        if (IsAddRowShown)
        {
            <br />
            <FluentDivider />

            <h4>
                New Skill
            </h4>

            <FluentDataGridRow TItem=StudentSkillListRowViewStates
                       RowType="DataGridRowType.Header">

                <Stack>
                    <FluentDataGridCell GridColumn=0 CellType="DataGridCellType.ColumnHeader">
                        Skill Name
                    </FluentDataGridCell>
                </Stack>

                <Stack>
                    <FluentDataGridCell GridColumn=1 CellType="DataGridCellType.ColumnHeader">
                        Level
                    </FluentDataGridCell>
                </Stack>

                @foreach (var column in Columns)
                {
                    <Stack>
                        <FluentDataGridCell GridColumn=@(Columns.IndexOf(column)+1) CellType="DataGridCellType.ColumnHeader">
                            @column.Title
                        </FluentDataGridCell>
                    </Stack>
                }
                
                <Stack>
                    <FluentDataGridCell GridColumn=@(Columns.Count+2) CellType="DataGridCellType.ColumnHeader" />
                </Stack>
            </FluentDataGridRow>

            <EditableStudentSkillListRow 
                FormRequest=@(new FormRequest<FormAction, StudentSkill>(FormAction.Add, new StudentSkill()))
                AllSkills=@AllSkills
                AddCallback=@OnAdd />
        }
    }
</FluentDataGrid>
