@namespace InternshipApp.Portal.Views
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Wave5.UI

<Stack HorizontalAlign="Wave5.UI.Alignment.Center">
    <div class="avatar">
        <img />

    </div>
    <Stack>
        <h1>
            Name Name
        </h1>
    </Stack>
    <StudentActionBar/>
</Stack>

<Stack Style="margin:10px">
    <Stack Style="margin:10px">
        <h2>
            Introduction
        </h2>
        <label>
            lorem ipsum
        </label>
    </Stack>

    <Stack Style="margin:10px">
        <h2>
            Education
        </h2>
        <label>
            lorem ipsum
        </label>
        <label>
            lorem ipsum
        </label>
        <label>
            lorem ipsum
        </label>
    </Stack>

    <Stack Style="margin:10px">
        <h2>
            Skills
        </h2>
        <SkillTagList>

        </SkillTagList>
    </Stack>
</Stack>

<StudentInfoFormPanel />