@namespace InternshipApp.Portal.Views
@using Wave5.UI.DataGrids
@using Wave5.UI

<div>
    <PageTitle> Manage Students</PageTitle>
    <h1>Manage Students</h1>
</div>


@if (IsTeacherViewing)
{
    <FluentTabs activeId="Manage Students">
        <FluentTab id="Group">Your Group</FluentTab>
        <FluentTab id="NoGroup">No Group</FluentTab>

        <FluentTabPanel id="Group">
            <DetailsListContainer ContainerContext=@ListContainerContext
                    CommandBarContext=@CommandBarContext
                    SearchContext=@SearchContext
                    TItem="StudentListRowViewStates"
                    Title="Manage Students In Your Group">

                @if (IsManagingGroup)
                {
                    <DetailsList DetailsListContext=@ListContext />
                }
                else
                {
                    <Stack Style="width:100%;" HorizontalAlign="Wave5.UI.Alignment.Center">
                        <label>You have not been assigned to any group. Please contact administrators for assisstance!</label>
                    </Stack>
                }

            </DetailsListContainer>
        </FluentTabPanel>

        <FluentTabPanel id="NoGroup">
            <DetailsListContainer ContainerContext=@NoGroupListContainerContext
                    CommandBarContext=@NoGroupCommandBarContext
                    SearchContext=@NoGroupSearchContext
                    TItem="StudentListRowViewStates"
                    Title="Students Without Group">

                @if (IsManagingGroup)
                {
                    <DetailsList DetailsListContext=@NoGroupListContext />
                }
                else
                {
                    <Stack Style="width:100%;" HorizontalAlign="Wave5.UI.Alignment.Center">
                        <label>You have not been assigned to any group. Please contact administrators for assisstance!</label>
                    </Stack>
                }
                

            </DetailsListContainer>
        </FluentTabPanel>
    </FluentTabs>
}
else
{
    <DetailsListContainer ContainerContext=@ListContainerContext
                        CommandBarContext=@CommandBarContext
                        SearchContext=@SearchContext
                        TItem="StudentListRowViewStates"
                        Title="Manage Students">

        <DetailsList DetailsListContext=@ListContext />

    </DetailsListContainer>
}

<StudentInfoFormPanel FormRequest="@StudentFormRequest" FormResultCallback="@OnFormResultReceived" />
