@namespace InternshipApp.Portal.Views
@using Wave5.UI.Forms;
@using Syncfusion.Blazor.Inputs;

<Stack ClassName="formContainer">

    <EditForm EditContext="Context"
              OnValidSubmit="OnFormSubmit">

        <FormFieldsContainer>
            <h2> Basic Info </h2>
            <Stack ClassName="formFieldContainer">
                <FluentTextField @bind-Value=@this.States.Name Required>
                    <label>Full Name</label>
                </FluentTextField>
            </Stack>

            <Stack ClassName="formFieldContainer">
                <FluentTextField @bind-Value=@this.States.StudentId Required>
                    <label>Student Id</label>
                </FluentTextField>
            </Stack>

            <Stack ClassName="formFieldContainer">
                <FluentNumberField @bind-Value=@this.States.Year>
                    <label>Year</label>
                </FluentNumberField>
            </Stack>

            <Stack ClassName="formFieldContainer">
                <FluentTextField @bind-Value=@this.States.Email>
                    <label>Email Address</label>
                </FluentTextField>
            </Stack>

            <Stack ClassName="formFieldContainer">
                <FluentTextField @bind-Value=@this.States.Username Disabled=@(FormRequest?.Action == FormAction.Edit)>
                    <label>Username</label>
                </FluentTextField>
            </Stack>
            
            <Stack ClassName="formFieldContainer">
                <FluentTextField @bind-Value=@this.States.Password TextFieldType="TextFieldType.Password" Disabled=@(FormRequest?.Action == FormAction.Edit) Required>
                    <label>Password</label>
                </FluentTextField>
            </Stack>


            <h2> Detailed Info </h2>
            <Stack ClassName="formFieldContainer">
                <label for="credits">
                    Acchieved Credits
                </label>
                <SfNumericTextBox TValue="int" @bind-Value=@States.Credits ID="credits"> 
                </SfNumericTextBox>
            </Stack>

            <Stack ClassName="formFieldContainer">
                <label for="gpa">
                    Acchieved Gpa
                </label>
                <SfNumericTextBox TValue="double" @bind-Value=@States.Gpa ID="gpa">
                </SfNumericTextBox>
            </Stack>

            <Stack ClassName="formFieldContainer">
                <FluentTextField @bind-Value=@this.States.ImgUrl>
                    <label>Avatar Image Url</label>
                </FluentTextField>
            </Stack>

            <Stack ClassName="formFieldContainer">
                <FluentTextField @bind-Value=@this.States.GitUrl>
                    <label>Github Profile Url</label>
                </FluentTextField>
            </Stack>

            <Stack ClassName="formFieldContainer">
                <FluentTextField @bind-Value=@this.States.CVUrl>
                    <label>CV Url</label>
                </FluentTextField>
            </Stack>

            <Stack ClassName="formFieldContainer">
                <FluentTextArea @bind-Value=@this.States.Bio>
                    <label>Introduction</label>
                </FluentTextArea>
            </Stack>
        </FormFieldsContainer>

        <FormButtonsContainer>
            <FluentButton Appearance=@FormStyles.SaveButtonAppearance
                        style=@FormStyles.SaveButtonStyle
                          type="submit"> <label>Save</label> </FluentButton>

            <FluentButton Appearance=@FormStyles.CancelButtonAppearance    
                    style=@FormStyles.CancelButtonStyle
                          @onclick="@OnCancel"> <label>Cancel</label> </FluentButton>

        </FormButtonsContainer>
    </EditForm>
</Stack>