@namespace InternshipApp.Portal.Views
@using Wave5.UI.Forms;

<Stack ClassName="formContainer">

    <EditForm EditContext="Context"
              OnValidSubmit="OnFormSubmit">

        <FormFieldsContainer>
            <Stack ClassName="formFieldContainer">
                <FluentTextField @bind-Value=@States.StudentId>
                    <label>Student Id</label>
                </FluentTextField>
            </Stack>

            <Stack ClassName="formFieldContainer">
                <FluentTextField @bind-Value=@States.Name>
                    <label>Name</label>
                </FluentTextField>
            </Stack>

            <Stack ClassName="formFieldContainer">
                <FluentNumberField @bind-Value=@States.Year>
                    <label>Year</label>
                </FluentNumberField>
            </Stack>

            <Stack ClassName="formFieldContainer">
                <FluentNumberField @bind-Value=@this.States.Gpa>
                    <label>Gpa</label>
                </FluentNumberField>
            </Stack>

            <Stack ClassName="formFieldContainer">
                <FluentTextField @bind-Value=@States.Username>
                    <label>Username</label>
                </FluentTextField>
            </Stack>

            <Stack ClassName="formFieldContainer">
                <FluentTextField @bind-Value=@States.Password>
                    <label>Password</label>
                </FluentTextField>
            </Stack>
        </FormFieldsContainer>

        <FormButtonsContainer>
            <FluentButton Appearance=@FormStyles.SaveButtonAppearance
                        style=@FormStyles.SaveButtonStyle
                          type="submit"> <label>Save</label> </FluentButton>

            <FluentButton Appearance=@FormStyles.CancelButtonAppearance    
                    style=@FormStyles.CancelButtonStyle
                          @onclick="@OnCancel"> <label>Cancel</label> </FluentButton>

        </FormButtonsContainer>
    </EditForm>
</Stack>