@namespace InternshipApp.Portal.Views

<div class="chat-container">
    <ConversationView>

    </ConversationView>

    <ConversationListView>

    </ConversationListView>
</div>

<style>
    .chat-container {
        display: flex;
        flex-direction: column;
        width: auto;
    }
</style>