@page "/chat/{receiverId}"

@namespace InternshipApp.Portal.Views

<div class="chat-container">
    <ChatView ReceiverId=@ReceiverId>

    </ChatView>

    <ConversationListView>

    </ConversationListView>
</div>

<style>
    .chat-container{
        display:flex;
        flex-direction:column;
        width:auto;
    }
</style>