@namespace InternshipApp.Portal.Views
@using Wave5.UI.Forms;

<Stack ClassName="formContainer">

    <EditForm EditContext="Context"
              OnValidSubmit="OnFormSubmit">

        <FormFieldsContainer>
            <Stack ClassName="formFieldContainer">
                <FluentTextField @bind-Value=@States.Title>
                    <label>Title</label>
                </FluentTextField>
            </Stack>

            <Stack ClassName="formFieldContainer">
                <FluentTextField @bind-Value=@States.Address>
                    <label>Address</label>
                </FluentTextField>
            </Stack>

            <Stack ClassName="formFieldContainer">
                <FluentTextField @bind-Value=@States.CompanyWebsite>
                    <label>Website</label>
                </FluentTextField>
            </Stack>

            <Stack ClassName="formFieldContainer">
                <FluentTextField @bind-Value=@States.ImgUrl>
                    <label>Image Url</label>
                </FluentTextField>
            </Stack>

            <Stack ClassName="formFieldContainer">
                <label for="typeCombobox">Company Type</label>
                <FluentCombobox Id="typeCombobox"
                    @bind-Value=@States.CompanyType 
                    Options=@States.TypeOptions() />
            </Stack>

            <Stack ClassName="formFieldContainer">
                <FluentTextArea @bind-Value=@States.Description>
                    <label>Description</label>
                </FluentTextArea>
            </Stack>
        </FormFieldsContainer>

        <FormButtonsContainer>
            <FluentButton Appearance=@FormStyles.SaveButtonAppearance
                        style=@FormStyles.SaveButtonStyle
                          type="submit"> <label>Save</label> </FluentButton>

            <FluentButton Appearance=@FormStyles.CancelButtonAppearance    
                    style=@FormStyles.CancelButtonStyle
                          @onclick="@OnCancel"> <label>Cancel</label> </FluentButton>

        </FormButtonsContainer>
    </EditForm>
</Stack>